* {margin:0; padding:0; font-family:helvetica, arial, sans-serif; list-style:none;}

#monitor_all li { /* Default font size small */
  font-size:small;
}
.monitor_group { /* The monitor categories */
  background-color: #D5D5D5;
  margin: 5px 0;
  border-top-right-radius:10px; -webkit-border-top-right-radius:10px;
  border-bottom-right-radius:10px; -webkit-border-bottom-right-radius:10px;
  padding:0 5px 0 20px;
  width:24px;
  overflow: visible;
  position:relative;
  min-height:150px;
}

.group_name { /* Monitor category labels */
  -webkit-transform:rotate(270deg);
  -webkit-transform-origin: right top;
  position:absolute;
  top:0;
  right: 100%;
  white-space: nowrap;
  margin: 3px 0 3px -5px;
  padding:3px;
}

.monitor_group .group_list > li { /* Monitors: Colour stylings neutral for before first result retrieved */
 width: 16px; height:16px; border-radius:8px; -webkit-border-radius:8px; margin:2px;
 float:left; clear:left;
 background: #A5A5A5;
}
#monitor_all .monitor_group .okay { /* Green lights for okay services */
  background: #36C319;
  }
  
#monitor_all .monitor_group li.error, #monitor_all .monitor_group li.timeout, #monitor_all .monitor_group li.caution { /* Txt should be readable */
    font-size: large;
}
#monitor_all .monitor_group .error {  /* Red lights for fail */
  background: #EE2023;
 }
 
#monitor_all .monitor_group .timeout { /* Orange lights for timeout */
  background: #FF8500;
  }
#monitor_all .monitor_group .caution { /* Yellow lights for cautions */
  background: #FFF400;
}

.monitor_group li.raise { /* Expand 'raised' monitors */
 width: auto; height:auto; border-radius:5px; -webkit-border-radius:5px; margin:2px;
 padding: 5px;
}

li span.name, li span.status, .history { /* Hide text when not raised */
  display:none;
}
li.raise span.name, li.raise span.status { /* Display raised text */
  display:inline;
  white-space: nowrap;
}


#project_stats { /* The stats page (on heroku, in an iframe) */
  border:0;
  width: 90%; /* Set width to 80 to avoid excessive overlap) */
  height: 100%;
  float:right;
}

#monitor_all { /* Positions the monitors in general */
  position: absolute;
  top:0;
  left:0;
}

.status { /* Colours the status text */
  color: white;
  font-size: normal;
  padding-left: 30px;
}

.caution .status { /* Adjusts status text on light backgrounds */
  color: #414141;
}

/* The History */
.raise ul.history {
  display: block;
  float: right;
  background: white;
  padding: 0 2px;
  margin: 2px -3px -3px -3px;
  -webkit-border-radius:3px; border-radius:3px; 
}

ul.history li {
  display:inline; float:left;
  background:none !important;
  font-size:10pt !important;
  color: gray;
  font-weight: bold;
}
ul.history li.okay {
  color: green;
}
ul.history li.error {
  color: red;
}
ul.history li.timeout {
  color: orange;
}
